a {
    color: rgb(150, 47, 246);
}

body {
    background-color: rgb(233, 216, 249);
    font-family: 'Merriweather Sans', sans-serif;
}

em {
    color:rgb(150, 47, 246);
}

footer {
    font-family: monospace;
    margin-top: 40px;
}

form {
    display: flex;
    justify-content: center;
}

h1 {
    font-family: 'Merriweather', serif;
    font-weight: 700;
}

.form-container {
    margin: 30px auto;
    max-width:35%;
}

.poem-container {
    background: white;
    border-left: 4px solid rgb(150, 47, 246);
    border-radius: 5px;
    display: block;
    height: auto;
    margin: 20px auto;
    max-width: 60%;
    padding: 20px;
}

.poem-content {
    padding: 10px 30px;
    line-height: 1.5;
}

.prompt {
    border-radius: 10px;
    margin-right: 15px;
    padding: 8px;
    width: 350px;
}

.small-print {
    font-size: 12px;
    margin-left: 1rem;
    margin-top: 5px;
    opacity: 0.6;
}

.submit-button {
    background:rgb(150, 47, 246);
    color: white;
    border:1px solid rgb(150, 47, 246);
    border-radius: 10px;
    padding: 8px 16px;
}

.submit-button:hover {
    background: rgb(167, 85, 243);
    cursor: pointer;
}

@media (max-width: 992px) {
    .poem-container {
        max-width: 95%;
    }

    .prompt {
        border-radius: 10px;
        margin-right: 15px;
        padding: 8px;
        width: 150px;
    }

    .small-print {
        margin-top: 2px;
    }
}